﻿
@{
    Layout = null;
}

<html ng-app="umlEditorApp" lang="en">
<head>
    <title>EasyUML</title>
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type'>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/joint.css" />
    <link rel="stylesheet" type="text/css" href="lib/angular-notify/angular-notify.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/sax.js"></script>
    <script src="js/libs/ecore.xmi.js"></script>
    <script src="js/libs/joint.js"></script>

    <script src="lib/bootstrap-ui/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="lib/angular-notify/angular-notify.js"></script>
</head>

<body data-ng-controller="umlController" ng-init="">



    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EasyUML</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Uml" asp-action="Index">Далі</a>
                    </li>

                    <li><a asp-area="" asp-controller="Uml" asp-action="Index">Повторити</a></li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Завершити</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <div class="paper-containerResult" ng-click ng-class="{iconClass: classCondition, iconAbstract: abstractCondition, iconInterface: interfaceCondition, iconAssosiation: associationCondition, iconComposition: compositionCondition, iconGenetalization: generalizationCondition}">
        <div class="paperResult" id="paperResult"></div>
    </div>
    <div class="paper-containerEtalon" ng-click ng-class="{iconClass: classCondition, iconAbstract: abstractCondition, iconInterface: interfaceCondition, iconAssosiation: associationCondition, iconComposition: compositionCondition, iconGenetalization: generalizationCondition}">
        <div class="paperEtalon" id="paperEtalon"></div>
    </div>

    <script src="js/app/result.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/joint.shapes.uml.js"></script>
</body>
</html>

